<% include partials/header %>

    <h1>Search results</h1>
    <h2><a href="/search">Click here to search again</a></h2>

    </header>
    
    <% if (parsedBooks["totalItems"] > 0) { %>
        <div class="row">
            <% parsedBooks["items"].forEach(function(book) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4><strong><%= book["volumeInfo"]["title"] %></strong></h4>
                            <h4><%= book["volumeInfo"]["authors"] %></h4>
                            <h5><%= book["volumeInfo"]["publisher"] %></h5>
                            <p><a href=<%= book["volumeInfo"]["infoLink"] %> target="_blank">click here for more info...</a></p>
                        </div>
                        <% if (book["volumeInfo"].hasOwnProperty("imageLinks")) { %>
                            <img src="<%= book["volumeInfo"]["imageLinks"]["thumbnail"] %>" />
                        <% } else{ %>
                            <h4><i>No picture available.</i></h4>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <h3>No match for your query.</h3>
    <% } %>
</div>

<% include partials/footer %>