<!DOCTYPE html>
<html>
    <body>
        <% include partials/header %>

        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>Search results</h1>
                    <a href="/search" class="btn btn-primary btn-large">Click here to search again</a>
                </div>
            </header>
            <div class="form-group">
                <% preparedBooks.forEach(function(book) { %>
                        <div class="thumbnail">
                            <div class="caption">
                                <h4><strong><%= book["title"] %></strong></h4>
                                <h4><%= book["authors"] %></h4>
                                <h5><%= book["publisher"] %></h5>
                                <p><a href=<%= book["link"] %> target="_blank">click here for more info...</a></p>
                            </div>
                            <img src="<%= book["image"] %>" alt="No picture available."/>
                        </div>
                <% }) %>
            </div>
        </div>
        
        <% include partials/footer %>
    </body>
</html>